@model DapperDayProject.Dtos.CustomerDtos.GetCustomerByIdDto
@{
    Layout = null;
}

<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
<form method="post">
    <div class="container">
        <input type="hidden" asp-for="CustomerId" />
        <br /><br />
        <label>Müşteri Adı</label>
        <input type="text" asp-for="CustomerName" class="form-control" />
        <br />
        <label>Müşteri Soyadı</label>
        <input type="text" asp-for="CustomerSurname" class="form-control" />
        <br />
        <label>Müşteri Bakiyesi</label>
        <input type="text" asp-for="CustomerBalance" class="form-control" />
        <br />
        <button class="btn btn-primary">Müşteriyi Güncelle</button>
    </div>
</form>